openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:

  /v3.0/carrier/:
    get:
      tags:
      - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/Code'
      responses:
          "200":
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CarrierResponce'
                  
  /v3.0/stations_list/:
    get:
      tags:
      - getStationsList
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
          "200":
            description: success
            content:
              text/html:
                schema:
                  $ref: '#/components/schemas/StationsListResponce'
                  
  /v3.0/search/:
    get:
      tags:
      - searchStations
      summary: Расписание рейсов между станциями
      operationId: searchStations
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Date'
      - $ref: '#/components/parameters/TransportTypes'
      - $ref: '#/components/parameters/Transfers'
      responses:
          "200":
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SearchResponce'
components:
  parameters:
    ApiKey:
      name: apikey
      in: query
      description: API key
      required: true
      schema:
        type: string
    From:
      name: from
      in: query
      description: код станции отправления
      required: true
      schema:
        type: string
    To:
      name: to
      in: query
      description: код станции прибытия
      required: true
      schema:
        type: string
    Date:
      name: date
      in: query
      description: дата
      required: false
      schema:
        type: string
        format: date
        example: "2024-03-15"
    Code:
      name: code
      in: query
      description: Код перевозчика
      required: true
      schema:
        type: string
    TransportTypes:
      name: transport_types
      in: query
      description: тип транспортного средства
      required: false
      schema:
        type: string
    Transfers:
      name: transfers
      in: query
      description: добавление к результатам поиска маршрутов с пересадками
      required: false
      schema:
        type: boolean
  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    CarrierResponce:
      type: object
      properties:
        carrier:
          $ref: "#/components/schemas/CarrierItem"
    CarrierItem:
      type: object
      properties:
        code:
          type: number
          example: 680
          description: Код перевозчика
        url:
          type: string
          example: "http://www.example.com/"
          description: Ссылка на сайт перевозчика
        title:
          type: string
          example: "Россия"
          description: Название перевозчика
        phone:
          type: string
          example: ""
          description: Контактный номер телефона перевозчика
        logo:
          type: string
          format: uri-reference
          example: "//yastatic.net/rasp/media/data/company/logo/logo_1.jpg"
          description: URL логотипа компании
        email:
          type: string
          example: ""
          description: Электронный почтовый адрес перевозчика
    
    StationsListResponce:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: "#/components/schemas/Country"
          description: Список стран
      required:
        - countries
        
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: "#/components/schemas/Region"
          description: Список регионов страны
        title:
          type: string
          description: Название страны
          example: "Бермудские острова"
      required:
        - regions
        - title

    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: "#/components/schemas/Settlement"
          description: Список населенных пунктов региона
      required:
        - settlements

    Settlement:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
          example: "Банжул"
        codes:
          $ref: "#/components/schemas/CodeObject"
        stations:
          type: array
          items:
            $ref: "#/components/schemas/StationItem"
          description: Список станций в населенном пункте
      required:
        - title
        - codes
        - stations

    StationItem:
      type: object
      properties:
        codes:
          $ref: "#/components/schemas/StationItemCodes"
        title:
          type: string
          description: Название станции
          example: "Юндум"
        transport_type:
          type: string
          description: Тип транспорта
          enum: [plane, train, suburban, bus, water, helicopter]
          example: "Самолёт"
      required:
        - codes
        - title
        - transport_type
    CodeObject:
      type: object
      properties:
        yandex_code:
          type: string
          description: Код в системе Яндекс Расписаний
          example: "l21546"
      required:
        - yandex_code

    StationItemCodes:
      type: object
      properties:
        yandex_code:
          type: string
          description: Код в системе Яндекс Расписаний
          example: "s9628059"
      required:
        - yandex_code
    
    SearchResponce:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Segment'
              
    Segment:
      type: object
      properties:
        thread:
          allOf:
            - type: object
              properties:
                carrier:
                  allOf:
                    - type: object
                      properties:
                        code:
                          type: number
                          example: 680
                          description: Код перевозчика
                        title:
                          type: string
                          example: "Россия"
                          description: Название перевозчика
                        logo:
                          type: string
        details:
          type: array
          items:
            type: object
            properties:
              thread:
                type: object
                properties:
                  carrier:
                    type: object
                    properties:
                      code:
                        type: number
                        example: 4240
                        description: Код перевозчика
                      title:
                        type: string
                        example: "РЖД/ДОСС"
                        description: Название перевозчика
                required:
                  - carrier
              duration:
                type: number
                example: 14460
              start_date:
                type: string
                example: "2025-07-02"
        departure:
          type: string
          example: "2017-03-28T06:00:00+03:00"
        arrival:
          type: string
          example: "2017-03-28 10:15:00"
        has_transfers:
          type: boolean
          example: false
        duration:
          type: number
          example: 8100
        start_date:
          type: string
          format: date
          example: "2017-01-02"
        transfers:
          type: array
          items:
            type: object
            properties:
              short_title:
                type: string
                example: "Москва"
      required:
      - departure
      - arrival
      - has_transfers
          
          
          
        
